<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-autowire="autodetect">

	<!--  actions -->
    <bean id="mestreAction" class="br.com.meutempo.action.MestreAction" scope="prototype" />

</beans>
